{{!< default}}
{{! author template}}
{{> "shim"}}
<section id="loop" class="shim">
  {{> "tt-loop" ommit="!note"}}
  {{#if posts}}
    {{pagination}}
  {{/if}}
</section>
<script>
  $offset = $("#author").outerHeight();
  $("#site-shim").shimThis({
    ontop: 'section.hero',
    offset: $offset+'px'
  });
</script>
