{{> "head"}}
<body class="{{body_class}}">
	{{> "hero"}}
	<section id="site-shim" class="Container-Medium">
		{{{body}}}
	</section>
	<script>
	  $("#site-shim").shimThis("section.hero");
	</script>
	{{> "footer"}}
	{{ghost_footer}}
</body>
</html>
