{{!< default}}
{{! index template, this is for home}}
<section id="loop" class="shim">
  {{> "tt-loop"}}
  {{#if posts}}
    {{pagination}}
  {{/if}}
</section>
<script>
  $offset = $("article").first().outerHeight();
  $("#site-shim").shimThis({
    ontop: 'section.hero',
    offset: $offset+'px'
  });
</script>
