{{!< default}}
{{! post template}}
{{> "shim"}}
{{#post}}
  <section id="post-content">
    {{content}}
    <section class="featured">
      <ul>
        {{#next_post}}
          <a href="{{url absolute="true"}}"><li class="next">next post</li></a>
        {{/next_post}}
        {{#prev_post}}
          <a href="{{url absolute="true"}}"><li class="prev">previous post</li></a>
        {{/prev_post}}
      </ul>
    </section>
  </section>
{{/post}}
<script>
  $offset = $("#post").outerHeight();
  $("#site-shim").shimThis({
    ontop: 'section.hero',
    offset: $offset+'px'
  });
</script>
