	body{
		background:#fff;
		color:#273a34;
		font-family:'Raleway',Serif;
	}
	a:hover{
		text-decoration:underline;
	}
	p a:hover{
		color:#000;
		text-decoration:underline;
	}
	/*> navigation*/
	  #site-nav{
		  padding:1em;
			width:100%;
			background:#fff;
			box-sizing:border-box;
			position:fixed;
			top:0;
			left:0;
	  }
		#site-nav h1{
			display:inline-block;
			float:left;
			color:#000;
			font-size:2em;
			font-family:'Lato-Black';
		}
		#site-nav ul{
			float:right;
		}
		#site-nav ul li{
			margin:4px 5px;
			padding:0.5em;
			box-sizing:border-box;
			display:inline-block;
			color:rgba(0, 0, 0, 0.6);
			font-family:'Lato';
		}
		#site-nav ul li:hover{
			color:#000;
		}
/*hero*/
	section.hero{
		min-height:100px;
		max-height:600px;
		height:90%;
		width:100%;
	}
/*> shim*/
	section.shim{
		background:rgba(187, 187, 187, 0.9);
	}
